<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Github项目推荐</title>
</head>
<body>
<pre>
    JavaWeb
    <a href="https://github.com/mindskip/xzs">学之思在线考试系统</a>
    <a href="https://github.com/19920625lsg/spring-boot-online-exam">在线考试</a>
    <a href="https://gitee.com/microapp/flash-waimai">外卖系统</a>
    <a href="https://gitee.com/bysj2021/cinema">电影院选座系统</a>

    移动端
    <a href="https://github.com/zwStar/vue-meituan">仿美团外卖点餐</a>
    <a href="https://github.com/chaychan/TouTiao">精仿今日头条</a>
    <a href="https://github.com/sshiqiao/douyin-ios-objectc">iOS 仿抖音</a>
    <a href="https://github.com/18380438200/Tiktok">Android 仿抖音</a>
    <a href="https://github.com/RAOE/show-videos">秀视频</a>
    <a href="https://github.com/yukilzw/dy_flutter">斗鱼直播 APP</a>
    <a href="https://github.com/boyan01/flutter-netease-music">仿网易云音乐</a>
    <a href="https://github.com/code-mcx/react-bilibili">高仿 B站</a>
    推荐系统
    <a href="https://github.com/LuckyZXL2016/Movie_Recommend">电影推荐系统</a>
    <a href="https://github.com/luochana/News_recommend">新闻推荐系统</a>

    大数据项目
    <a href="https://github.com/geekyouth/SZT-bigdata">地铁客运分析大数据项目</a>
    <a href="https://gitee.com/geekyouth/SZT-bigdata">地铁客运分析大数据项目</a>
    <a href="https://github.com/LuckyZXL2016/News_Spark">新闻网实时大数据项目</a>

    机器学习、深度学习
    <a href="https://www.bilibili.com/video/BV164411b7dx">吴恩达机器学习</a>
    <a href="https://coding.imooc.com/class/169.html">机器学习教程</a>
    <a href="https://www.bilibili.com/video/BV164411m79z">吴恩达深度学习</a>
    <a href="https://www.bilibili.com/video/BV1cV411Y7jZ">Pytorch实战</a>
    <a href="https://www.bilibili.com/video/BV1Zt411T7zE">Tensorflow实战</a>
    <a href="https://github.com/20100507/emotional_analysis">情感分析</a>
    <a href="https://github.com/pengLP/sina_analysis">舆情分析</a>
    <a href="https://github.com/dataabc/weiboSpider">微博爬虫</a>
    ...

</pre>
</body>
</html>
